@import 'onoffcanvas.less';
@import 'btnCustom.less';
@import 'cart.less';
@import 'leaders.less';
@import 'panel-accordion.less';
@import 'receipt-page.less';
@import 'review-page.less';
@import 'search-page.less';
// Details
@greyDark: #4C4943;
@theme: #264c5d;
@paymentEngineGreen: #5D7D39;


.search-items {
    padding-top: 5px;
    margin-bottom: 0;
    .search-item {
        cursor: pointer;
    }
}


// Shared




/*CSS to House */

.onoffcanvas-tab {
    position: absolute;
    left: -80px;
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-right: 30px solid #A5C727;
    border-bottom: 30px solid transparent;
    &:after {
        position: absolute;
        content: '';
        width: 50px;
        height: 60px;
        background: #A5C727;
        top: -30px;
        left: 30px;
    }
    span.onoffcanvas-counter {
        font-size: 20px;
        width: 57px;
        padding-left: 25px;
        position: absolute;
        top: -12px;
        z-index: 100;
        .fa {
            display: inline;
        }
    }
    @media (min-width: 992px) {
        display: none;
    }
}

.payment-engine-heading {
    color: @greyDark;
    font-weight: 800;
    font-size: 18px;
  }
  
  