.cart
    .cart-title
        span.fa.fa-shopping-cart
        | &nbsp; MY CART
    .cart-items
        ul.leaders
            li
                span 1234567
                span $2000
            li.description sque in. Donec imperdiet fringilla dui, vel malesuada velit volutpat sed. Curabitur lacinia felis urna, quis euismod sapien sodales non.
            li 
                span 8901234
                span $2000
            li.description sque in. Donec imperdiet fringilla dui, vel malesuada velit volutpat sed. Curabitur lacinia felis urna, quis euismod sapien sodales non.
            li
                span 8901234
                span $1562.45
            li.description sque in. Donec imperdiet fringilla dui, vel malesuada velit volutpat sed. Curabitur lacinia felis urna, quis euismod sapien sodales non.
    .cart-totals
        ul.leaders
            li
                span Subtotal
                span $5432.45
            li
                span Service charge
                span $0
            li
                span Tax
                span $0
            li
                span Delivery
                span $0
            br
            li
                span Total
                span $5432.45
    button.btn.btn-success.btn-block Proceed to Checkout
    br
    button.btn.btn-default.btn-block Add all charges due to cart