extends includes/base
block whichtheme
  - var theme = 'corporate'
block isfullwidth
  - var colSize = 'col-md-12'
block breadcrumb
  // BREADCRUMB
  include includes/breadcrumb
block custom-style
  if production
    link(href="/css/custom.css" rel='stylesheet' type='text/css')
  else
    link(href="/styles/css/custom.css" rel='stylesheet' type='text/css')
block main-content
  include offcanvas-cart
  .row.addon-row.addon-row-attached
    .col-sm-12
      .page-header
        span.remove-border-bottom
          button.btn.btn-lg.btn-success.pull-right.hidden-md.hidden-lg(data-target="#onoffcanvas" data-toggle="onoffcanvas" aria-expanded="false")
            span.fa.fa-shopping-cart
            | &nbsp; Cart (3)
        h1 Real Property details
    .col-sm-12
      include search
      .row
        .col-sm-12.col-md-8
          include panels
          .row
            .col-sm-4.hidden-lg.hidden-md
              button.btn.btn-success.btn-block Proceed to Checkout
              br.visible-xs-block
            .col-sm-5.hidden-lg.hidden-md
              button.btn.btn-default.btn-block Add all charges due to cart
        .col-md-4.visible-md-block.visible-lg-block
          include cart
block custom-js
  if production
    script(src="/js/custom.js")
  else
    script(src="/js/custom.compiled.js")
