.call-out-text.call-out-text-success
  label(for="searchParcel") Search for another parcel
  .input-group
    input.form-control(type="text" id="searchParcel" name="searchParcel")
    span.input-group-btn
      button.btn.btn-primary
        span.hidden-xs Update&nbsp;
        .fa.fa-search(aria-hidden="true")
        span.sr-only Search parcels
  ul.list-inline.search-items
    li.search-item#item12345
      .fa.fa-times.fa-color-danger
      | &nbsp;item1
    li.search-item#item6789
      .fa.fa-times.fa-color-danger
      | &nbsp;item2
    li.search-item#item01234
      .fa.fa-times.fa-color-danger
      | &nbsp;item3
    li.search-item#item56789
      .fa.fa-times.fa-color-danger
      | &nbsp;item4
    li.search-item#clear-all
      .fa.fa-times.fa-color-danger
      | &nbsp;Clear all
